.getstarted {
    height: 40em; 
    background: #eee;
  }

.mat-card{
    display: block;
    padding: 2em;
    position: relative;
    width: 25em;
    height: 25em;
    box-shadow: 2em 2em 0 0 rgba(0,0,0,.15); 
    margin: 0 1em 0 1em;
    //border-radius: 15px 50px;
}
 
.mat-card-title-group{
    margin: inherit;
}
  
.mat-card-image{
    width: 21em;
    height: 16em;
    border-radius: 15px 50px;
}
 
.mat-card-footer{
    margin: inherit;
}