/* Style the video: 100% width and height to cover the entire window */
#demoVideo {
    //border: solid;
    margin: 2em;
    //padding: 2em;
    border-radius: .7em;
    width : 70em;
}

/*video {
    border-radius: inherit;
    width : inherit;
} */

/* title */
.anime {
    background-color: #778899;
    text-align: center;
}

// .title {
//    margin-top: 10em;
//    margin-bottom: 30em;
// }

/* Add some content at the bottom of the video/page */
// .content {
//     position: fixed;
//     bottom: 0;
//     background: rgba(0, 0, 0, 0.5);
//     color: #f1f1f1;
//     width: 100%;
//     padding: 20px;
// }

.mat-button {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
    border-radius: .7em;
    background-color: #1DE9B6;
    
}