<div class="anime"  fxFlex fxLayout="row" fxLayoutAlign="center center" >
  <div class= "title" fxFlex fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
    <h2> Universities that match your potential </h2>
    <h3> Strategically apply to universities and maximize your admission chances </h3>
    <button class="mat-button" color="accent" >
        Get university list!
    </button>    
    <video id="demoVideo" autoplay loop  muted plays-inline>
      <source src="http://res.cloudinary.com/dxxdhb7ti/video/upload/v1523668144/raindrop.mp4" 
              type="video/mp4">
    </video>      
  </div>
</div>
