mat-toolbar {
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    top: 0;
    z-index: 3;
}

a {
    text-decoration: none;
    color: rgb(19, 17, 17);
    margin: .5em;    
}

a:hover {
   // text-decoration: underline #1DE9B6;
   // border-bottom: 2px solid #1DE9B6;
   
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid #1DE9B6;
    cursor: pointer;
    //margin-bottom: -1px;
    // padding: 0 0 4px;
}

.active {
    cursor: pointer; 
    border-bottom: 2px solid #1DE9B6;
   // background-color: #1DE9B6;
    display: inline
}

//used hidden in css instead of [hidden] property in html
//because [hidden] in not recommended in Angular 
.hidden {
    visibility: hidden;
}

#logo {
    padding: 0.5em;
    cursor: pointer;
    font-family: 'Lobster Two', cursive;
    font-size: 180%;
}

.mat-button {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
    border-radius: .7em;
    background-color: #1DE9B6;
}
