<mat-toolbar color="primary">

    <div fxFlex fxLayout fxLayoutGap="15px" [ngClass]="{'hidden' : loginFlag === true }">
      <a (click)="onPlan(true)" [ngClass]="{'active' : clickedPlan === true }">Plans</a>
      <a (click)="onAboutus(true)" [ngClass]="{'active' : clickedAboutUs === true }">About Us</a>
     <!-- <a (click)="onContactus(true)">Contact us</a>  -->
    </div> 

    <ng-template #plansBlock>
        <a routerLink="home/plans/silver" routerLinkActive="inactive"></a>
    </ng-template>
  
    <div id="logo" fxFlex fxLayout fxLayoutAlign="center" >
        <a href="home" (click)="onHome(true)" [ngClass]="{'active' : clickedHome === true }">UniGuru</a>
    </div>
    
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="15px">
        <a routerLink="admin/users" routerLinkActive="active" *ngIf = "loginFlag && adminFlag" >Admin</a>
        <a routerLink="/home/dashboard" routerLinkActive="active" *ngIf = "loginFlag && !adminFlag" >Dashboard</a>
        <!-- <a routerLink="auth/login" routerLinkActive="active" *ngIf = "!loginFlag">Login</a> -->
        <!-- <a (click)="onLogout()" *ngIf = "loginFlag || adminFlag">Logout</a> -->

        <ng-container *ngIf="user$ | async as user; else loggedOut">
            <span>{{ user.displayName }}</span>
            <img class="user-photo" src="{{user.photoURL}}" >
                 <!-- ng-src="{{user.photoURL ? user.photoURL : defaultProfilePhoto}}" > -->
            <a (click)="logout()">Logout</a>
          </ng-container>
          <!-- <ng-template #loggedOut>
            <a (click)="login()">Login</a>
          </ng-template> -->

          <ng-template #loggedOut>
            <a routerLink="auth/login" routerLinkActive="active">Login</a>
          </ng-template>

        <button mat-button color="accent" *ngIf = "!loginFlag">
          <a routerLink="auth/signup" routerLinkActive="active" >Sign up</a>
        </button>
        
        


    </div>
  

</mat-toolbar>