<div class="loginform" fxLayout="row" fxLayoutAlign="space-evenly center">

    <div >
      <form fxLayout="column" fxLayoutAlign="space-evenly center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email" >
        </mat-form-field>
        <mat-form-field class="field form-group">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Login</button>
      </form>
    </div>
    

    <mat-divider></mat-divider>

    <div>
      <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <h1>Continue with Google!</h1>
        <button mat-raised-button color="accent" type="submit" (click) = "loginWithGoogle()" #loggedOut>
            Login with Google!
        </button> 
      </div>
    </div>
</div>