<!-- <circle-progress
  [percent]="85"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress> -->

<!-- <div>
  <canvas id="gre" >{{ GREChart }}</canvas>
  <canvas id="gpa" >{{ GPAChart }}</canvas>
</div> -->

<h1>Eval works</h1>