<div class="ui container">
    <h2 class="ui center aligned header">
        Contact us
    </h2>
    <form class="ui form">
        <div class="field">
          <label>First Name</label>
          <input name="first-name" placeholder="First Name" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input name="last-name" placeholder="Last Name" type="text">
        </div>
        <div class="field">
            <label>Text</label>
            <textarea></textarea>
          </div>
        <button class="ui button" type="submit">Submit</button>
    </form>    
</div>