// .aboutus {
//     margin : 4em 8em;
//  }

.mat-card{
    display: block;
    padding: 2em;
    position: relative;
    width: 25em;
    height: 25em;
    box-shadow: 2em 2em 0 0 rgba(0,0,0,.15); 
    margin: 0 1em 0 1em;
}

// .mat-card-title-group{
//     margin: inherit;
// }

// mat-card {
//     margin: 0.5em;
//     width: 100px;
//     margin: 0;
// }