<!-- <div class="aboutus" fxLayout="column" fxLayoutAlign="center center">
    <h1>Meet the team</h1>
    <hr>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Vishal Deep</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/Vishal_Deep_Meet_Me.jpg" alt="Vishal Deep">
            <mat-card-actions>
                <a href="https://www.linkedin.com/in/vishaldeep15/" target="_blank" rel="noopener noreferrer"> Meet Vishal </a>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Kalyani Singh</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/Kalyani_Singh_Meet_Me.png" alt="Kalyani Singh">
            <mat-card-actions>
                <a href="https://www.linkedin.com/in/kalyanisingh" target="_blank" rel="noopener noreferrer"> Meet Kalyani </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div> -->

<div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%"  fxFlex.lg="50%" fxFlex.xl="25%">
        <h1>Meet the team</h1>
        <hr>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Vishal Deep</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/Vishal_Deep_Meet_Me.jpg" alt="Vishal Deep">
            <mat-card-actions>
                <a href="https://www.linkedin.com/in/vishaldeep15/" target="_blank" rel="noopener noreferrer"> Meet Vishal </a>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Kalyani Singh</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/Kalyani_Singh_Meet_Me.png" alt="Kalyani Singh">
            <mat-card-actions>
                <a href="https://www.linkedin.com/in/kalyanisingh" target="_blank" rel="noopener noreferrer"> Meet Kalyani </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
  