<!-- <h1>Users</h1>
<ul>
    <li *ngFor="let user of users">
      {{ user.firstName }}
    </li>
  </ul> -->

<div class="example-container mat-elevation-z8">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userProfile">
      <mat-header-cell *matHeaderCellDef> User Profile </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-fab (click)="onUserProfileClicked(user)">
          UP
            <!-- <fa-icon icon="faUserCircle"></fa-icon> -->
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="suggestedUniversity">
        <mat-header-cell *matHeaderCellDef> Suggested Universities </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-fab (click)="onSuggUniClicked(user)">
            SU
              <!-- <fa-icon icon="faLayerGroup"></fa-icon> -->
          </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)">></mat-row>
  </mat-table>

  <mat-paginator [length]="1"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>
    
