<form fxLayout="column" [formGroup]="profileForm">
  <h4>Degree Information</h4>
    <div formGroupName="universityInfo">
      <mat-form-field>
        <mat-label>Degree Type</mat-label>
        <input matInput formControlName="degree"  placeholder="B.Tech, M.S., Diploma">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Major</mat-label>
        <input matInput formControlName="major"  placeholder="Comp Science, Comp Engg">
      </mat-form-field>
      <mat-form-field>
        <mat-label>University Name</mat-label>
        <input matInput formControlName="name" placeholder="IIT Delhi">
      </mat-form-field>
      <mat-form-field>
        <mat-label>GPA</mat-label>
        <input matInput formControlName="gpa" placeholder="4.0">
      </mat-form-field>
      <button *ngIf="!updateFlag" class="button" (click)="addUniversity()">Add</button>  
      <button *ngIf="updateFlag" class="button" (click)="updateUniversity()">Update</button> 
      <button *ngIf="updateFlag" class="button" (click)="cancelUniversity()">Cancel</button> 
    </div>

    <tr *ngFor="let university of userProfileData.universityInfo; let i = index">
      <td>{{university.degree}}</td>
      <td>{{university.major}}</td>
      <td>{{university.name}}</td>
      <td>{{university.gpa}}</td>
      <td><button class="button" (click)="editUniversity(university)">Edit</button></td>
      <td><button class="button"  (click)="removeUniversity(university)">Remove</button></td>
    </tr>

    <h4>Generalized Test Information</h4>
    <!--GRE--->
    <div class="field" formGroupName="greInfo">
      <label>GRE</label>
      <div class="three fields">
        <mat-form-field>
          <mat-label>Quantitative</mat-label>
          <input matInput formControlName="quant" placeholder="160">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Verbal</mat-label>
          <input matInput formControlName="verbal" placeholder="160">
        </mat-form-field>
        <mat-form-field>
          <mat-label>AWA</mat-label>
          <input matInput formControlName="awa" placeholder="6.0">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Overall Score</mat-label>
          <input matInput formControlName="overallGreScore" placeholder="6.0">
        </mat-form-field>
      </div>
    </div>

    <h4>English Language Test Scores</h4>
    <div class="field" formGroupName="englishlangtestInfo">
      <mat-form-field>
        <mat-select [(value)]="englishTestType">
          <mat-option value="TOEFL">TOEFL</mat-option>
          <mat-option value="IELTS">IELTS</mat-option>
          <!-- <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option> -->
        </mat-select>
      </mat-form-field>
      <h4>You Selected: {{userProfileData.englishlangtestInfo.testType}}</h4>

      <div class="four fields">
        <mat-form-field>
          <mat-label>Reading</mat-label>
          <input matInput formControlName="reading" placeholder="25/8.0">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Listening</mat-label>
          <input matInput formControlName="listening" placeholder="25/8.0">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Speaking</mat-label>
          <input matInput formControlName="speaking" placeholder="25/8.0">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Writing</mat-label>
          <input matInput formControlName="writing" placeholder="25/8.0">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Overall Language Score</mat-label>
          <input matInput formControlName="overallLangScore" placeholder="25/8.0">
        </mat-form-field>
      </div>

    </div>

    <!-- <h4>Upload Resume</h4>
            <div id="fileSelector">
                <input type="file" name="fileUpload" id="fileUpload" single ng2FileSelect [uploader]="uploader"> 
                <button type="button" class="ui primary button" 
                (click)="uploader.uploadAll()" 
                [disabled]="!uploader.getNotUploadedItems().length" >
                    Upload
                </button>   
            </div> -->

    <button class="button" (click)="onEdit()">Edit</button>
    <button class="button" (click)="onUpdate()">Update</button>
    <button class="button" (click)="onDelete()">Delete</button>  
    
</form>

