<div class="suggestform">
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="suggestedUniversityForm" (ngSubmit)="onSubmit()">
      <h1>Add Suggested University</h1>
    <mat-form-field>
          <mat-label>University Name</mat-label>
          <input matInput placeholder="University of California, LA" formControlName="name" >
      </mat-form-field>
      <mat-form-field>
          <mat-label>University Type</mat-label>
          <input matInput placeholder="Ambitious/Intermediate/Promising" formControlName="universityType" >
      </mat-form-field>
      <mat-form-field>
          <mat-label>Deadline</mat-label>
          <input matInput placeholder="MM/DD/YY" formControlName="applicationDeadline" >
      </mat-form-field>
      <mat-form-field>
          <mat-label>Application Fee</mat-label>
          <input matInput placeholder="$100" formControlName="applicationFee" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>GPA Requirements</mat-label>
        <input matInput placeholder="3.5" formControlName="gpaRequirement" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>GRE Requirements</mat-label>
        <input matInput placeholder="300" formControlName="GRERequirement" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>English Test Requirements</mat-label>
        <input matInput placeholder="7.0/90" formControlName="englishLanguageRequirement">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Application URL</mat-label>
        <input matInput placeholder="http://www.ucla.edu/" formControlName="applicationURL">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Useful Links</mat-label>
        <input matInput placeholder="Please enter comma separated links" formControlName="usefulLinks">
      </mat-form-field>
      <button *ngIf="!updateFlag" mat-raised-button color="accent" type="submit" [disabled]="!suggestedUniversityForm.valid">
        Add
      </button>
      <button *ngIf="updateFlag" mat-raised-button color="accent" type="submit" [disabled]="!suggestedUniversityForm.valid">
          Update
        </button>
  </form>
  <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
</div>

<mat-expansion-panel  *ngFor="let suggested of suggestedUniversities; index as idx"> 
  <mat-expansion-panel-header>
    {{suggested.name}}
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item> University Type: {{suggested.universityType}} </mat-list-item>
    <mat-list-item> Deadline: {{suggested.applicationDeadline}}</mat-list-item>
    <mat-list-item> Fee: {{suggested.applicationFee}} </mat-list-item>
    <mat-list-item> GPA Requirements: {{suggested.gpaRequirement}} </mat-list-item>
    <mat-list-item> GRE Requirements: {{suggested.GRERequirement}} </mat-list-item>
    <mat-list-item> English Test Requirements: {{suggested.englishLanguageRequirement}} </mat-list-item>
    <mat-list-item> Application Link: {{suggested.applicationURL}} </mat-list-item>
   </mat-list>

  <mat-action-row>
    <button mat-raised-button (click)="onEdit(suggested, idx)">Edit</button>
    <button mat-raised-button (click)="onDelete(idx)">Delete</button>
  </mat-action-row>
</mat-expansion-panel>


