h1 {
    margin-top: 20%;
    color: red;
}

.center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
