<div class="ui container">
  <h1>Payment</h1>
  <!-- <form class="ui form" [formGroup]="goldPaymentForm" (ngSubmit)="onSubmit()"> -->
    <!-- <div class="field form-group">
      <label>Credit Car Number</label>
      <input type="text" placeholder="Credit Card #" name="cardNumber" formControlName="card">
    </div>
    <div class="field form-group">
      <label>Expiration Month</label>
      <input type="text" placeholder="Expiration Month" name="expMonth" formControlName="expirationMonth">    
    </div>
    <div class="field form-group">
      <label>Expiration Year</label>
      <input type="text" placeholder="Expiration Year" name="expYear" formControlName="expirationYear">    
    </div>
    <div class="field form-group">
      <label>CVC</label>
      <input type="text" placeholder="CVC" name="cvc" formControlName="cvc">    
    </div> -->
    <!-- <button class="ui button" id="payButton" type="submit" [disabled]="!goldPaymentForm.valid">Pay</button>            -->
   <!-- </form> -->
</div>
