<div  fxLayout="row" fxLayoutAlign="space-evenly center" >

    <div class="signupform">
      
      <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <h1>Sign up!</h1>
          <mat-form-field>
              <mat-label>Full Name</mat-label>
              <input matInput placeholder="First and Last Name" formControlName="fullName">
          </mat-form-field>
    
          <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
              <mat-error *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <!-- *ngIf="f.password.touched && f.password.invalid"  -->
                <mat-error *ngIf="f.email.errors?.required" >
                  Email is required
                </mat-error>
                <mat-error *ngIf="f.email.errors?.pattern" >
                  Email is invalid
                </mat-error>
    
            </mat-error>
          </mat-form-field>
    
          <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="Password" placeholder="Password" formControlName="password" [errorStateMatcher]="matcher">
              <mat-error *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                <!-- *ngIf="f.password.touched && f.password.invalid"  -->
                <mat-error *ngIf="f.password.errors?.required" >
                  Password is required
                </mat-error>
                <mat-error *ngIf="f.password.errors?.minlength" >
                  Password should be atleast 8 characters long
                </mat-error>
    
            </mat-error>
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput type="Password" placeholder="Confirm Password" formControlName="confirmPassword" [errorStateMatcher]="matcher"> 
            <mat-error *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
    
              <mat-error *ngIf="f.confirmPassword.errors?.required">
                Password is required
              </mat-error>
              
              <mat-error *ngIf="f.confirmPassword.invalid && !f.confirmPassword.errors?.required">
                Password and Confirm Password must match 
              </mat-error>
    
           </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    
            <mat-error *ngIf="f.birthDate.touched && f.birthDate.invalid" class="alert alert-danger">
    
              <mat-error *ngIf="f.birthDate.errors?.required">
                Birth Date is required
              </mat-error>
    
           </mat-error>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>City, State</mat-label>
            <input matInput placeholder="City, State" formControlName="cityState">
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select placeholder="Country" formControlName="country">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
            </mat-select>
          </mat-form-field>
    
          <button mat-raised-button color="accent" type="submit" [disabled]="!signupForm.valid">Submit</button>
        </form>
    </div>
    
    <!-- <div>
    
       Continue with Social Platforms
    
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
    
        <button class="socialMediaButton" mat-raised-button color="accent" type="submit">
            <fa-icon [icon]="['fab', 'google']" size="lg"></fa-icon>  
            Google
        </button> 
      </div>
     
    
    </div> --->
    
</div>
    
    