<div fxLayout="column" fxLayoutAlign="space-evenly center" >
    <div class="basicinfo" >
        <div fxLayout="row" fxLayoutAlign="start center">
            <h2 id="infohead"> Personal Info </h2>
        </div>    
        <hr> 
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <p fxFlex="40"> Name </p>
            <p fxFlex="60"> {{ currentUser.fullName }} </p>
        </div>
        <hr>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <p fxFlex="40" > Profile Picture </p>
            <img fxFlex="60" src="{{ currentUser.photoURL }}" alt="User Profile Picture">
            <!-- <p > Kalyani Singh </p> -->
        </div>
        <hr>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <p fxFlex="40"> Email </p>
            <p fxFlex="60"> {{ currentUser.email }} </p>
        </div>
        <hr>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <p fxFlex="40"> Birth Date </p>
            <p fxFlex="60"> {{ currentUser.birthDate }} </p>
        </div>
        <hr>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <p fxFlex="40"> Phone Number </p>
            <p fxFlex="60"> {{ currentUser.phoneNumber }} </p>
        </div>
    </div>
</div>