.basicinfo {
    font-size: medium;
    border: 1px solid lightgray;
    border-radius: 1em;
    height: auto;
    width: 70%;
    background: #f9f9f9;
    margin-top: 10%;
}

hr {
    height: 0px;
    border: none;
    border-top: 0.5px solid lightgray;
    margin: 0em;
}


#infohead {
    margin: 1em 1.3em;

}

p {
    margin: 1em 2em;
}

