<!-- <div class="ui top attached demo menu">
        <a class="item" (click)="sidebar.toggle()">
            <i class="sidebar icon"></i> Menu
        </a>
      </div>
      <sui-sidebar-container class="ui bottom attached segment">
        <sui-sidebar class="inverted vertical" #sidebar>
            <a class="item" [routerLink]="['admin']" routerLinkActive="active">Admin</a>
        </sui-sidebar>
        <sui-sidebar-sibling [isDimmedWhenVisible]="true">
            <div class="ui basic segment">
              <router-outlet></router-outlet>
            </div>
        </sui-sidebar-sibling>
      </sui-sidebar-container> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
        <mat-list>
            <mat-list-item>           
              <a class="item" routerLink="users" routerLinkActive="active">Users</a>
            </mat-list-item>
            <mat-list-item>
              <a class="item" routerLink="userinfo" routerLinkActive="active">User Info</a> 
            </mat-list-item>
            <mat-list-item>
              <a class="item" routerLink="suggesteduniversity" routerLinkActive="active">suggested University</a> 
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>