<mat-drawer-container class="example-container">
 <mat-drawer class="dashboard-sidebar" mode="side" opened>
    <mat-list> 
        <mat-list-item>
            <a class="item" routerLink="eval" routerLinkActive="active">Evaluation</a> 
        </mat-list-item>
        <mat-list-item>
            <a class="item" routerLink="suggested" routerLinkActive="active">Suggested Universities</a> 
        </mat-list-item>
        <mat-list-item>           
          <a class="item" routerLink="profile" routerLinkActive="active">My Credentials</a>
        </mat-list-item>      
        <mat-list-item>           
          <a class="item" routerLink="accountinfo" routerLinkActive="active">My Profile</a>
        </mat-list-item>  
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
     <router-outlet></router-outlet>
  </mat-drawer-content>  
</mat-drawer-container>

