<div class="app-home" fxLayout="column" fxLayoutAlign="start center">
    <div #home>
        <app-anime></app-anime>
    </div>
  
    <div #aboutus>
        <app-aboutus></app-aboutus>
    </div>
  
    <div #getstarted>
        <app-getstarted></app-getstarted>
    </div>
  
    <div #plans>        
        <app-plans></app-plans>
    </div>
  
    <div #contactus>        
      <app-contactus></app-contactus>
  </div>
    
</div>
